.ipynb_checkpoints/
.DS_Store
*.pyc
*.egg-info
datasets/*
!datasets/.gitkeep
__pycache__/*
outputs/*
!outputs/.gitkeep
base_models/*
!base_models/.gitkeep
paligemma_update.json
*.log
qwen3vl.json

spas_sage_attn/csrc/qattn/instantiations_sm80
spas_sage_attn/csrc/qattn/instantiations_sm89
spas_sage_attn/csrc/qattn/instantiations_sm90
spas_sage_attn/_fused.cpython-312-x86_64-linux-gnu.so
spas_sage_attn/_qattn.cpython-312-x86_64-linux-gnu.so